<form class="login-form" action="">
  <md-card>
    <h1>Name yourself, citizen!</h1>

    <md-form-field>
      <input mdInput [(ngModel)]="credentials.username" id="username" name="username" placeholder="Username">
    </md-form-field>
    <md-form-field>
      <input mdInput [(ngModel)]="credentials.password" id="password" name="password" type="password" placeholder="Password">
    </md-form-field>

    <button type="button" (click)="login()" md-raised-button color="primary">Login</button>

  </md-card>
</form>

