<nav>
  <mat-toolbar color="default">
    <a mat-button color="primary" [routerLink]="'/'" routerLinkActive="mat-accent"
       [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>home</mat-icon>
    </a>
    <a mat-button *ngIf="loginService.user?.isAdmin()" color="primary" [routerLink]="'admin'" routerLinkActive="mat-accent">
      <mat-icon>supervisor_account</mat-icon>
    </a>
    <a mat-raised-button *ngIf="!loginService.user?.isLogged()" color="primary" style="margin-left: auto"
       [routerLink]="login.path" routerLinkActive="login active">
      {{login.desc}}
    </a>
    <span *ngIf="loginService.user?.isLogged()" style="margin-left: auto">Logged in as {{loginService.user.username | uppercase}}</span>
    <a mat-button *ngIf="loginService.user?.isLogged()" color="primary" [routerLink]="logout.path"
       routerLinkActive="mat-accent">
      {{logout.desc}}
    </a>
  </mat-toolbar>
</nav>

